#list{
    width: 600px;
    height: 100%;
    margin: 0 auto;
    border-radius: 15px;
    border-radius: 1px solid green;
    background-color:whitesmoke;
}

#nodata{
    color: red;
    margin: 40 auto;
}
#nodatadiv{
    width: 50%;
    height: 20%;
    margin: 0 auto;
    text-align: center;

}
.char{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 150px;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid red;

}

.imagName{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 100px;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid black;
}

.imag{
    background-color:green; 
    border: 1px solid red;
    margin-top: 10px;
    height: 80%; 
    width: 100px; 
    border-radius:20%;
    
}

.name{
    border: 1px solid;
    text-align: right;
    margin-left: 25%;
    width: 80%;

}

#clickablename{
    font: 1em sans-serif;
}
